[Unit]
Description=VPNJesus Telegram Bot Service
After=network.target

[Service]
Type=simple
User=telebot
Group=telebot
WorkingDirectory=/usr/local/telebot

ExecStart=/usr/local/telebot/venv/bin/python3 /usr/local/telebot/bot.py --stdout-log enable
Restart=always
RestartSec=5

Environment="XRAY_PUBLIC_IP=45.151.183.231"
Environment="XRAY_REALITY_PBK=J8-18qflZog-ffsXWh290d7OjFyDmRW81nymvEsm1F0"
Environment="XRAY_REALITY_SNI=bostad.blocket.se"
Environment="XRAY_INBOUND_LISTEN=45.151.183.231"
Environment="XRAY_BIN=/usr/local/xray/xray"
Environment="XRAY_API_PORT=10002"
Environment="XRAY_INBOUND_TAG=vless-in"
Environment="XRAY_REALITY_SHORTID=abecf7e74a3f52fc"

# Send logs to standard output (viewable via journalctl)
StandardOutput=append:/usr/local/telebot/log/output.log
StandardError=append:/usr/local/telebot/log/output.log

[Install]
WantedBy=multi-user.target
