[Unit]
Description=VPNJesus Telegram Bot Service
After=network.target

[Service]
Type=simple
User=telebot
Group=telebot
WorkingDirectory=/usr/local/telebot

ExecStart=/usr/local/telebot/venv/bin/python3 /usr/local/telebot/bot.py --stdout-log enable
Restart=always
RestartSec=5


Environment="TELEGRAM_BOT_TOKEN=8259748377:AAEmjPuMAX4JFyn-egbRBlN8qtidi2NwUEE"
Environment="TELEGRAM_ADMIN_ID=7724842241"

#Environment="YOOKASSA_SHOP_ID=1271966"
#Environment="YOOKASSA_SECRET_KEY=test_KqlWjq2j2dZZNARLpAk-j5FJEbRMuTJN_tdwHG0xUzE"

Environment="YOOKASSA_SHOP_ID=1270362"
Environment="YOOKASSA_SECRET_KEY=live_57kFIXtG1mAsBnV3QP8EaUMPW0QOYlNYDz36l_GWEcU"

Environment="SINGBOX_PUBLIC_IP=gappulpnp.online"
Environment="SINGBOX_TUIC_SNI=gappulpnp.online"
Environment="SINGBOX_TUIC_ALPN=h3"
Environment="SINGBOX_TUIC_CONGESTION_CONTROL=bbr"
Environment="SINGBOX_TUIC_UDP_RELAY_MODE=quic"
Environment="SINGBOX_TUIC_ALLOW_INSECURE=0"
Environment="SINGBOX_BIN=/usr/bin/sing-box"
Environment="SINGBOX_CONFIG_PATH=/etc/sing-box/config.json"
Environment="SINGBOX_SERVICE=sing-box.service"
Environment="SINGBOX_INBOUND_TAG=tuic-in"
Environment="SINGBOX_SYSTEMCTL_BIN=/usr/bin/systemctl"
Environment="SINGBOX_SYSTEMCTL_USE_SUDO=0"

# Send logs to standard output (viewable via journalctl)
StandardOutput=append:/usr/local/telebot/log/output.log
StandardError=append:/usr/local/telebot/log/output.log

[Install]
WantedBy=multi-user.target
